/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

body {
  background: #fcc;
}

nav {
  display: none;
  flex-direction: column;
}

.menu {
  background-color: black;
  color:white;
  line-height: 2em;
}

.menu-toggle {
  display: flex;
}

/*.menu:hover + nav, nav:hover {
  display: flex;
}*/

/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */
  .menu {
    display: none;
  }

  body {
    background: #cfc;
  }

  nav {
    display: flex;
    flex-direction: row;
  }
}








/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

  body {
    background: #ccf;
  }
}
